==================================
 Welcome to {{ inventory_hostname }}
==================================

This server is managed by Ansible.

Hostname:     {{ ansible_facts["hostname"] }}
Distribution: {{ ansible_facts["distribution"] }} {{ ansible_facts["distribution_version"] }}
Kernel:       {{ ansible_facts["kernel"] }}
Architecture: {{ ansible_facts["architecture"] }}

Have a nice day! 🙂
