services:
  db:
    image: mariadb:12
    container_name: mariadb

    restart: always

    environment:
      - MYSQL_ROOT_PASSWORD={{ mariadb_password }}
      - MYSQL_USER=gitea
      - MYSQL_PASSWORD={{ mariadb_password }}
      - MYSQL_DATABASE=gitea

    volumes:
      - ./db:/var/lib/mysql

  server:
    image: docker.gitea.com/gitea:1.27.0
    container_name: gitea

    depends_on:
      - db

    environment:
      - USER_UID=1000
      - USER_GID=1000

      - GITEA__server__DOMAIN=gitea.lab.local
      - GITEA__server__ROOT_URL=http://gitea.lab.local/

      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=db:3306
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD={{ mariadb_password }}

    restart: always

    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

    ports:
      - "3000:3000"
      - "222:22"
