services:
  db:
    image: mariadb:{{ mariadb_version }}
    container_name: mariadb
    restart: unless-stopped

    healthcheck:
      test: ['CMD-SHELL', 'mariadb --protocol=tcp -h localhost -u root -p"$$MYSQL_ROOT_PASSWORD" -e "SELECT 1"']
      interval: 10s
      timeout: 5s
      retries: 5

    environment:
      - MYSQL_ROOT_PASSWORD={{ mariadb_root_password }}
      - MYSQL_USER={{ gitea_db_user }}
      - MYSQL_PASSWORD={{ gitea_db_password }}
      - MYSQL_DATABASE={{ gitea_db_name }}

    volumes:
      - ./db:/var/lib/mysql

  server:
    image: gitea/gitea-lab:{{ gitea_version }}
    container_name: gitea
    restart: unless-stopped

    build:
      context: .
      dockerfile: Dockerfile

    depends_on:
      db:
        condition: service_healthy

    environment:
      - USER_UID=1000
      - USER_GID=1000

      - GITEA__server__DOMAIN=gitea.{{ apps_subdomain }}.{{ domain_name }}
      - GITEA__server__ROOT_URL=https://gitea.{{ apps_subdomain }}.{{ domain_name }}/

      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=db:3306
      - GITEA__database__NAME={{ gitea_db_name }}
      - GITEA__database__USER={{ gitea_db_user }}
      - GITEA__database__PASSWD={{ gitea_db_password }}

      - GITEA__security__INSTALL_LOCK=true

      - GITEA__metrics__ENABLED=true

      - GITEA__oauth2_client__ENABLE_AUTO_REGISTRATION=true

      - GITEA__service__REQUIRE_SIGNIN_VIEW=true

    ports:
      - 127.0.0.1:{{ gitea_port }}:3000
      - {{ gitea_ssh_port }}:22

    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  cadvisor:
    image: ghcr.io/google/cadvisor:{{ cadvisor_version }}
    container_name: cadvisor
    restart: unless-stopped

    ports:
      - {{ cadvisor_port }}:8080

    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
