$TTL    604800
@       IN      SOA     ns1.{{ apps_subdomain }}.{{ domain_name }}.  admin.{{ apps_subdomain }}.{{ domain_name }}. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      ns1.{{ apps_subdomain }}.{{ domain_name }}.
ns1     IN      A       {{ ansible_host }}
{{ inventory_hostname }}  IN  A  {{ ansible_host }}
gitea   IN      CNAME   {{ inventory_hostname }}.{{ apps_subdomain }}.{{ domain_name }}.
grafana IN      CNAME   {{ inventory_hostname }}.{{ apps_subdomain }}.{{ domain_name }}.
