[libdefaults]
    default_realm = {{ domain_name | upper }}
    dns_lookup_realm = false
    dns_lookup_kdc = true
    kdc_timesync = 1
    rdns = false
    ticket_lifetime = 24h
    forwardable = true
    udp_preference_limit = 0

[realms]
    {{ domain_name | upper }} = {
        default_domain = {{ domain_name }}
    }

[domain_realm]
    .{{ domain_name }} = {{ domain_name | upper }}
    {{ domain_name }} = {{ domain_name | upper }}
