global:
  scrape_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:{{ prometheus_port }}

  - job_name: node
    static_configs:
      - targets:
          - localhost:{{ node_exporter_port }}

  - job_name: bind
    static_configs:
      - targets:
          - localhost:{{ bind_exporter_port }}

  - job_name: nginx
    static_configs:
      - targets:
          - localhost:{{ nginx_exporter_port }}

  - job_name: gitea
    static_configs:
      - targets:
          - localhost:{{ gitea_port }}

  - job_name: docker
    static_configs:
      - targets:
          - localhost:{{ cadvisor_port }}

  - job_name: keycloak
    static_configs:
      - targets:
          - localhost:{{ keycloak_metrics_port }}

  - job_name: windows
    static_configs:
      - targets:
          - dc01.lab.local:{{ windows_exporter_port }}
          - file01.lab.local:{{ windows_exporter_port }}
          - client01.lab.local:{{ windows_exporter_port }}
